@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
/* Base Css */
h1 {
  font-size: 2.8em;
  font-weight: 600;
}

h2 {
  font-size: 1.4em;
  font-weight: 400;
}

/* Reset Css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* buttons */
.btn {
  padding: 10px 30px;
  border-radius: 5px;
  display: inline;
}

.btn-pri {
  background: #FF474C;
  cursor: pointer;
  color: #fff;
}
.btn-pri:hover {
  background: #ff2e33;
}

.container {
  padding-bottom: 20px;
}

body {
  background: #0F0D21;
  color: #fff;
}

.main {
  position: relative;
  top: 9em;
  width: 25em;
  margin: 0 auto;
}
.main h1 {
  margin-top: -0.25em;
}
.main .btn {
  font-size: 1.2em;
  margin-left: 5px;
  text-align: center;
}
.main .city {
  display: block;
  margin-top: -0.4em;
  font-size: 1.5em;
  color: #FF474C;
  font-weight: 300;
  text-transform: uppercase;
}

.content {
  width: 800px;
  margin: 0 auto;
  margin-top: 15.6em;
}
.content .nav {
  position: relative;
  float: left;
  width: 220px;
  margin-right: 20px;
  font-size: 0.9em;
}
.content .nav li {
  cursor: pointer;
  border-radius: 2px;
  margin-bottom: 2px;
  padding: 5px;
  background: #eee;
  color: #0F0D21;
}
.content .nav .selected {
  background: #2CA1DA;
  color: #fff;
}
.content .nav .city-small {
  cursor: default;
  background: #0F0D21;
  color: #FF474C;
  margin-top: 50px;
  font-size: 1.5em;
  padding: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid;
  text-transform: uppercase;
}
.content .body {
  position: relative;
  width: 560px;
  background: #eee;
  float: left;
  margin-top: 18px;
  border-radius: 2px;
  min-height: 400px;
}
.content .arrow {
  left: -8px;
  top: 2px;
  position: absolute;
  border-right: 10px solid #eee;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.body .list-container {
  color: #222;
  display: none;
}
.body .list-container .name {
  font-weight: bold;
}
.body .list-container .address {
  font-size: 0.9em;
}
.body .list-container .address i {
  color: #2CA1DA;
  margin-right: 5px;
}
.body .outdoor {
  display: block;
}
.body .details {
  display: none;
  height: 400px;
  border: 1px solid #bac074;
  margin: 0px 10px;
  border-radius: 5px;
}

/* list Css */
.list-item {
  font-size: 0.8em;
  background: #F0E46B;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  border-bottom: 2px solid #BAC074;
}

@media (max-width: 860px) {
  body {
    font-size: 16px;
  }

  .content {
    width: 560px;
  }

  .content .nav {
    float: none;
    width: 100%;
  }

  .content .body {
    width: 100%;
  }

  .content .nav li, .selected {
    float: left;
    margin-right: 5px;
  }

  .city-small, .arrow {
    display: none;
  }
}
@media (max-width: 580px) {
  .content {
    width: 100%;
    padding: 20px;
  }

  .main {
    width: 100%;
    padding: 0px 20px;
  }

  h1 {
    font-size: 2em;
  }

  .content .nav li, .selected {
    width: 49%;
    margin-right: 1%;
  }
}
